{% extends "base.html" %}

{% block title %}勤務時間一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">勤務時間一覧</h3>
    <!--<a href="{# url 'cms:book_add' #}" class="btn btn-default btn-sm">追加</a>-->
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>タスク</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for shift in shifts %}
        <tr>
          <td>{{ shift.id }}</td>
          <td>{{ shift.start }}</td>
          <td>{{ shift.finish }}</td>
          <td>タスク</td>
          <td>
            <!--
            <a href="{# url 'time_sheet:shift_mod' shift_id=shift.id #}" class="btn btn-default btn-sm">修正</a>
            <a href="{# url 'time_sheet:shift_del' shift_id=shift.id #}" class="btn btn-default btn-sm">削除</a>
            -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
